<hr style="border-top: 1px solid black;">
<div class='topnav' style='display: flex; justify-content: space-between; align-items: center;'>
  <h2 style='margin-top: 0; margin-bottom: 0; margin-left:0px;'>Javier Pacheco</h2> 
  <div>
    <a href='/index.html' style='font-weight:bold;'>Home</a> |
    <a href='/archive.html' style='font-weight:bold;'>Blog</a> | 
    <a href='/about.html' style='font-weight:bold;'>About Me</a> | 
	<a href="/rss.xml">
	  <i class="fas">&#xf09e;</i>
	</a>
  </div>
</div>
<hr style="border-top: 1px solid black;">
